

/* Navbar */


.top-bar-header {
    text-align: center;
    background-color: #ffc720;
    line-height: 0.01;
    font-weight: 600;
    position: relative;
    top: -.237rem;
    padding: .1rem 1.5rem;
    margin: 0;
}

.top-bar-header p {
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
}
 .top-bar-header p a{
    color: #000000;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: rgba(0,0,0,0)
}

.top-bar-header a:hover {
    text-decoration: underline;
}

nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar-nav {
    display: flex;
    list-style: none;
    gap: 20px;
    position: relative;
    left: 80px;
}
.navbar-nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    margin-left: 15px;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-grow: 1;
    align-items: center;
} 
.gradient-text {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffc720;
    right: 50px;
    font-size: 25px;
    font-weight: 600;
}
.gradient-text:hover{
    color: #f39f0c;   
}
.navbar-nav a:hover{
    color: #f39f0c;

}
.site-header{
    background-color: #FFC720;
    padding: 0;
    position: sticky;
    top: 0; 
}

.navbar-brand{
    position: relative;
    left: 20px;
    width: 200px;
}