.navbar{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    
}
.part1{
    background-color: #FFC720;
    
}

.part2{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 0;
}
.part2 ul{
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin-right: 20px;
    flex-direction: row;
}
.part2 a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;

    
}
.part2 img{
    width: 200px;
    object-fit: cover;
    margin-left: 20px;
}

.part2 a:hover{
    color: #FFC720;
}
.part1 h3{
    color: black;
    font-size: 12px;
    font-weight:600;
    text-align: center;

}
.part1 h4{
    color: #333333;
    font-size: 12px;
    font-weight:600;
    text-align: center;
}
.part1 span{
    color:#333333;
    font-size: 12px;
    font-weight:600;
    text-align: center;
}
.part1 h3:hover{
    text-decoration: underline;
}
