/* section 1 */
.banner{
    background: url('https://www.smartsites.com/media/smartsites-services-page-banner.jpg');
    background-size: cover;
    height: 690px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.left-banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 500px;
   padding-left: 30px;
}

.right-banner{
   padding-top: 80px;
   padding-right: 30px;
    
}

.textcontaint{
    padding: 0px 0px 10px 20px;
    width: 700px;
    text-align: left;

}
.textcontaint h1{
    font-size: 1.2rem;
    color: #ffc720;
    font-weight: 600;
    
}
.textcontaint h2{
    font-size: 2.750rem;
    line-height: 1.1;
    margin: .625rem 0 .8125rem;
    color: white;
}
.textcontaint p{
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
}
.brandicon ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 10px; 
    list-style: none;   
  }
  .brandicon li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.brandicon img {
    width: 100px;
    height: 50px; 
    object-fit: contain; 
  }
  .right-banner img{
    margin-top: 55px;
    max-width: 100%;
    height: auto;
   
  }

  /* section 2 */

  .block-marketing__content{
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: 100%;
    gap: 10px;
    padding: 20px 50px;
    margin:  0 0 0 auto;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-right: 4rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  .blue-text h5{
    color: #02355A;
    font-size:1.2rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  .right h3{
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: #333333;
    margin-left: 0;
  }
  .img-wrap{
    display: flex;
    position: left;
    flex-direction: column;
  }
  
  .img-wrap strong{
   font-size: 1.3rem;
   color: #333333;
   font-weight: 400;
  }
.brand-image{
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
    margin-top: 20px;
  }
  .left img{
    width: 500px;
    height: auto;
    object-fit: contain;

  }

