.banner{
    background: url('https://www.smartsites.com/media/smartsites-services-page-banner.jpg');
    background-size: cover;
    height: 690px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.left-banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 500px;
   padding-left: 30px;
}

.right-banner{
   padding-top: 80px;
   padding-right: 30px;
    
}

.textcontaint{
    padding: 0px 0px 10px 20px;
    width: 700px;
    text-align: left;

}
.textcontaint h1{
    font-size: 1.2rem;
    color: #ffc720;
    font-weight: 600;
    
}
.textcontaint h2{
    font-size: 2.750rem;
    line-height: 1.1;
    margin: .625rem 0 .8125rem;
    color: white;
}
.textcontaint p{
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
}
.brandicon ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 10px; 
    list-style: none;   
  }
  .brandicon li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.brandicon img {
    width: 100px;
    height: 50px; 
    object-fit: contain; 
  }
  .right-banner img{
    margin-top: 55px;
    max-width: 100%;
    height: auto;
   
  }